<div class="search-bar">
    <%= select_tag "search", options_for_select(["Member Name", "Company Name", "Stage", "Status"]), prompt: "Select Filter" %>
    <%= text_field_tag "search-field", nil, class: "search-field" %>
    <button class="search-btn">Search</button>
</div>