<div class="search-bar">
    <%= select_tag "search", options_for_select(["Member Name", "Company Name", "Stage", "Status"]), prompt: "Select Filter" %>
    <%= text_field_tag "search-field", nil, class: "search-field" %>
    <button class="search-btn" onclick="search()">Search</button>
</div>

<script>
    function search() {
            query = $("#search").find(":selected").text();
            console.log(query);
            window.location.replace("/search?query=" + query + "&string=test");
    }
</script>