<div class="search-bar">
    <%= select_tag "search", options_for_select(["Member Name", "2nd Launch", "Follow Up", "One-on-one"]), prompt: "Select Filter" %>
    <%= text_field, class: "search-field" %>
    <button class="search-btn"></button>
</div>